/*************************************************
******************** ABOUT US ********************
*************************************************/
.section-about-company {
  padding: 60px 0 0;

  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 0 40px;
    font-size: 2em;

    &> * {
      margin: 0 5px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__pic {
    display: block;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.about-company {
  padding-top: 60px;
  padding-bottom: 60px;

  &-statistic {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0 0 30px;

    &__box {
      margin: 0 0 30px;
    }

    &__value {
      margin: 0 0 10px;
      font-size: 3em;
      font-weight: 600;
      line-height: 1.125;
    }

    &__text {
      margin: 0;
    }
  }

  &-info {
    &__title {
      margin: 0 0 30px;
    }

    &__text {
      margin: 0;
    }
  }
}

.section-qualities {
  padding: 60px 0;
}

@include media-breakpoint-up(sm) {
  .section-about-company {
    &__title {
      justify-content: space-between;
      font-size: 4em;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .about-company {
    padding-bottom: 120px;

    &-statistic {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
@include media-breakpoint-up(md) {
  .about-company {
    &-statistic {
      &__value {
        font-size: 4.444em;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-about-company {
    &__title {
      font-size: 6em;

      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  .about-company {
    &-statistic {
      flex-direction: column;
      margin: 0;

      &__box {
        margin: 0;
        &:not(:last-child) {
          margin: 0 0 70px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-about-company {
    padding: 170px 0 0;

    &__title {
      font-size: 8em;

      svg {
        width: 70px;
        height: 70px;
      }
    }
  }

  .about-company {
    padding-top: 120px;
    padding-bottom: 240px;
  }

  .section-qualities {
    padding: 170px 0;
  }
}
@include media-breakpoint-up(xxl) {
  .section-about-company {
    &__title {
      font-size: 10em;
    }
  }
}
@include media-breakpoint-up(xxxl) {
  .section-about-company {
    &__title {
      font-size: 11.667em;
      line-height: 200px;
    }
  }
}