/*************************************************
******************* BRIEFING *********************
*************************************************/
.section-briefing {
  padding: 60px 0;
}

.briefing-form {
  &__title {
    @extend .section-home__title;
  }

  &__top {
    margin-bottom: 60px;
  }
  &__bottom {}

  &__text-info {
    font-size: 0.778em;
    line-height: 1.2;

    a {
      border-bottom: 1px solid white;
    }
  }
}

.section-full-briefing {
  padding: 60px 0 120px;
}

@include media-breakpoint-up(xl) {
  .section-briefing {
    padding: 170px 0;
  }

  .briefing-form {
    &__top {
      margin-bottom: 70px;
    }
  }

  .section-full-briefing {
    padding: 120px 0 240px;
  }
}