/*************************************************
******************** CASE INFO *******************
*************************************************/
.section-case-description {
  padding: 170px 0 240px;
}

.case {
  &-info {
    &__box {
      &:not(:last-child) {
        margin: 0 0 70px;
      }

      &-name {
        margin: 0 0 30px;
        font-weight: 600;
      }

      &-text {
        margin: 0;
        &:not(:last-child) {
          margin: 0 0 30px;
        }
      }
    }
  }

  &-description {
    &__box {
      &:not(:last-child) {
        margin: 0 0 70px;
      }

      &-name {
        margin: 0 0 30px;
        font-size: 1.389em;
        font-weight: $font-weight-sbold;
      }

      &-text {
        margin: 0;
        &:not(:last-child) {
          margin: 0 0 30px;
        }
      }
    }
  }
}