/*************************************************
******************* CASE TOOLS *******************
*************************************************/
.section-case-pictures {
  padding: 0 0 60px;

  picture {
    display: block;
    margin: 0 0 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.case-pic {
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  &_view {
    margin: 0 0 35px;
  }
}

.section-case-statistic {
  padding: 0 0 60px;
}

.case-statistic {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &__box {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &:not(:last-child) {
      margin: 0 0 30px;
    }

    &-value {
      margin: 0 0 10px;
      font-size: 4.444em;
      font-weight: $font-weight-sbold;
      line-height: 1;
    }

    &-text {
      margin: 0;
    }
  }
}

.section-case-tools {

}

.case {
  &-tools {
    margin-bottom: 60px;

    &__pic {

      img {

      }
    }
  }

  &-fonts {
    .case-tools__pic {
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &-colors {
    &__items {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      padding: 15px;
      margin: 0 0 30px;

      &-text {
        font-size: 1.389em;
        font-weight: $font-weight-medium;
      }
    }
  }

  &-icons {}
}


@include media-breakpoint-up(sm) {
  .case-statistic {
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;

    &__box {
      margin: 0;
      &:not(:last-child) {
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .case {
    &-colors {
      &__items {
        padding: 33px;
      }
    }
  }
}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {
  .section-case-pictures {
    padding: 0 0 170px;
  }

  .case-pic {
    img {
      height: 675px;
    }

    &_view {
      margin: 0 0 70px;

      img {
        height: 735px;
      }
    }
  }

  .section-case-statistic {
    padding: 0 0 170px;
  }

  .case {
    &-tools {
      margin-bottom: 170px;
    }
  }
}
@include media-breakpoint-up(xxl) {}
@include media-breakpoint-up(xxxl) {}