/*************************************************
****************** HOME BLOCK ********************
*************************************************/
.section-home {
  padding: 60px 0;

  &__title {
    margin: 0 0 40px;
    font-size: 2.222em;
    font-weight: 600;
    line-height: 1.125;
  }

  &__text {
    margin: 0;
  }
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
  .section-home {
    &__title {
      font-size: 4.444em;
    }
  }
}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {
  .section-home {
    padding: 90px 0;

    &__title {
      margin: 0 0 60px;
    }
  }
}
@include media-breakpoint-up(xxl) {}
@include media-breakpoint-up(xxxl) {
  .section-home {
    padding: 120px 0 150px;

    &__title {
      margin: 0 0 70px;
    }
  }
}