/*************************************************
******************* LAST NEWS ********************
*************************************************/
.section-last-news {}

.last-news-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 540px;
  margin: 0 auto 60px;

  &:hover {
    color: $text-color;

    .last-news-box {
      &__pic {
        img {
          transform: scale(1.25);
        }
      }
    }
  }

  &__pic {
    display: block;
    width: 100%;
    max-width: 540px;
    height: 280px;
    margin: 0 0 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: $transition-base;
    }
  }

  &__company {
    margin: 0 0 30px;
    color: inherit;
    font-weight: 600;
    line-height: 17px;
  }

  &__title {
    @extend .title-name;
    margin: 0 0 30px;
    color: inherit;
  }

  &__arrow {
    width: 26px;
    height: 26px;
    transition: $transition-base;
  }
}

.section-more-news {
  padding-bottom: 60px;
}

.news-list {
  &__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:not(:last-child) {
      border-bottom: 1px solid #C8C8C8;
    }

    &-info {
      order: 1;
      flex: 0 0 100%;
      display: inline-flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }

    &-author {
      margin: 0 0 30px;
      color: $darkness-color;
    }

    &-title {
      @extend .title-name;
      margin: 0 0 30px;
      color: $darkness-color;
    }

    &-arrow {
      width: 26px;
      height: 26px;
    }

    &-pic {
      flex: 0 0 auto;
      order: 0;
      display: block;
      width: 100%;
      margin: 0 auto 30px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .last-news-box {
    &__pic {
      height: 360px;
    }
  }
}
@include media-breakpoint-up(md) {
  .news-list {
    &__box {
      &-info {
        order: 0;
        flex: 0 0 calc(100% - 400px);
      }

      &-pic {
        order: 1;
        max-width: 255px;
        max-height: 165px;
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .last-news-box {
    &__pic {
      height: 430px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-last-news {
    padding-bottom: 170px;
  }

  .last-news-box {
    margin: 0 auto;

    &:hover {
      .last-news-box {
        &__arrow {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }

    &__arrow {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%);
      transition: $transition-base;
    }
  }

  .section-more-news {
    padding-bottom: 170px;
  }
}