/*************************************************
******************** STAGES **********************
*************************************************/
.section-stages {
  padding-bottom: 200px;
}

.stages {
  &__line {
    margin-bottom: 10px;

    &:last-child {
      .stages__number::after {
        display: none;
      }
    }
  }

  &__left {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &__right {

  }

  &__number {
    margin-right: 55px;
    color: $gray-color;
    line-height: 1.5;

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 25px;
      width: 1px;
      height: calc(100% - 27px);
      background: #E3E3E3;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
  }

  &__text {

  }
}