/*************************************************
******************** STAGES **********************
*************************************************/
.section-stages {
  padding-bottom: 60px;
}

.stages {
  &__line {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__left {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &__right {

  }

  &__number {
    flex: 0 0 auto;
    margin-right: 15px;
    color: $gray-color;
    line-height: 1.5;
  }

  &__title {
    flex: 0 0 calc(100% - 50px);
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
  }

  &__text {
    margin: 0 !important;
  }
}

@include media-breakpoint-up(lg) {
  .stages {
    &__line {
      margin-bottom: 10px;

      &:last-child {
        .stages__number::after {
          display: none;
        }
      }
    }

    &__number {
      margin-right: 55px;

      &::after {
        content: '';
        position: absolute;
        top: 40px;
        left: 25px;
        width: 1px;
        height: calc(100% - 27px);
        background: #E3E3E3;
      }
    }

    &__title {
      flex: 0 0 calc(100% - 87px);
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-stages {
    padding-bottom: 90px;
  }
}
@include media-breakpoint-up(xxxl) {
  .section-stages {
    padding-bottom: 200px;
  }
}