/*************************************************
******************** SEO TEXT ********************
*************************************************/
.section-seo-text {
  padding-bottom: 60px;

  .text-content {
    max-width: 1100px;
  }
}

.text-content {
  p {
    margin: 0 0 30px;
  }

  ul {
    padding: 0 0 0 27px;
    margin: 0;
    list-style: disc;
  }
}

@include media-breakpoint-up(xl) {
  .section-seo-text {
    padding-bottom: 170px;
  }
}