/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  max-width: 100%;
}

@import "modules/main-home";
@import "modules/home";
@import "modules/list-block";
@import "modules/service";
@import "modules/portfolio";
@import "modules/stages-main";
@import "modules/stages";
@import "modules/briefing";
@import "modules/faq";
@import "modules/news";
@import "modules/article";
@import "modules/seo-text";
@import "modules/vacancies";

@import "modules/contacts";