/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  z-index: 100;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 22px 0;

  &__menu {
    &-nav {
      display: none;
    }
  }
}

.logo {
  svg {
    width: 190px;
    height: 24px;
    fill: $main-first-color;
  }
}

.menu-rails {
  position: relative;

  &__sandwich {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100%;
    background: transparent;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 21px;
      height: 2px;
      border-radius: 20px;
      background: $darkness-color;
      transform: translate(-50%, -50%);
      transition: $transition-base;
      will-change: transform;
    }
    &::before {
      top: 40%;
    }
    &::after {
      top: 60%;
    }

    &:hover {
      &::before, &::after {
        transform: translate(-50%, -50%) scaleX(1.3);
      }
    }

    &.opened {
      z-index: 1;
      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        &::before {
          transform: translate(-50%, -50%) rotate(35deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-35deg);
        }
      }
    }
  }

  &__body {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $lightning-color;
    transition: $transition-base;

    &.active {
      left: 0;
    }

    &-head {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      padding: 26px 20px;
    }

    &-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      padding: 40px 20px 20px;

      &-nav {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 40px;
        }

        &_sm {
          .menu-rails__body-content-nav-link {
            &:not(:last-child) {
              margin: 0 0 15px;
            }
            font-size: 1em;
            font-weight: 500;
            line-height: 1.25;
          }
        }

        &-link {
          &:not(:last-child) {
            margin: 0 0 20px;
          }
          font-weight: 600;
          font-size: 22px;
          line-height: 1.25;
        }
      }
    }
  }

  &__menu-lang {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;

    &:hover {
      .menu-rails__menu-lang-dropdown {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }

    &-current {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      font-weight: 600;
      cursor: pointer;

      svg {
        margin-left: 7px;
        width: 20px;
        height: 20px;
      }
    }

    &-dropdown {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;

      &-link {
        font-weight: 600;
      }
    }
  }

  &__callback {
    display: none;
  }
}

/*.menu-rails {
    position: fixed;
    top: 0;
    left: 0;
    width: 105px;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    background: $lightning-color;

    &__sandwich {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      border: 1px solid $main-first-color;
      border-radius: 100%;
      background: transparent;
      transform: translate(-50%, -50%);

      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 2px;
        border-radius: 20px;
        background: var(--main-dark);
        transform: translate(-50%, -50%);
        transition: $transition-base;
        will-change: transform;
      }
      &::before {
        top: 45%;
      }
      &::after {
        top: 55%;
      }

      &:hover {
        &::before, &::after {
          transform: translate(-50%, -50%) scaleX(1.3);
        }
      }

      &.opened {
        &::before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
          &::before {
            transform: translate(-50%, -50%) rotate(35deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-35deg);
          }
        }
      }
    }

    &__body {
      position: fixed;
      right: 0;
      bottom: 150%;
      width: calc(100% - 105px);
      height: 100%;
      background: var(--main-light);
      transition: $transition-base;

      &.active {
        bottom: 0;
      }

      &-head {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 50px 77px;
      }

      &-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        height: 100%;
        padding: 50px 77px;

        &-nav {
          display: inline-flex;
          flex-flow: column wrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;
          height: 100%;

          &:not(:last-child) {
            padding-right: 24.5%;
          }

          &_sm {
            .menu-rails__body-content-nav-link {
              &:not(:last-child) {
                margin: 0 0 65px;
              }
              font-size: 2em;
              font-weight: 500;
              line-height: 1.25;
            }
          }

          &-link {
            &:not(:last-child) {
              margin: 0 0 70px;
            }
            font-weight: 600;
            font-size: 2.778em;
            line-height: 1.25;
          }
        }
      }
    }

    &__menu-lang {
      position: relative;
      padding: 0;
      margin: 0;

      &:hover {
        .menu-rails__menu-lang-dropdown {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }

      &-current {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        font-weight: 600;
        cursor: pointer;

        svg {
          margin-left: 7px;
          width: 20px;
          height: 20px;
        }
      }

      &-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;

        &-link {
          font-weight: 600;
        }
      }
    }

    &__callback {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 112px;
      border: none;
      border-radius: 100px 100px 0 0;
      background: $main-first-color;

      svg {
        width: 30px;
        height: 30px;
        fill: white;
      }
    }
  }*/

@include media-breakpoint-up(sm) {
  .menu-rails {
    &__body {
      &-content {
        &-nav {
          &-link {
            font-size: 1.75em;
            &:not(:last-child) {

            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .menu-rails {
    &__body {
      &-content {
        &-nav {
          align-content: stretch;
          align-items: stretch;
          width: auto;

          &:not(:last-child) {
            padding-right: 24.5%;
            margin: 0;
          }

          &-link {
            font-size: 2em;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .header-content {
    padding: 50px 0;
  }

  .menu-rails {
    &__body {
      &-head {
        padding: 56px 15px 20px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .header-content {
    &__menu {
      &-nav {
        display: block;

        &-link {
          font-weight: 500;
          line-height: 1.35;
          &:not(:last-child) {
            margin-right: 70px;
          }
        }
      }
    }
  }

  .menu-rails {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    background: $lightning-color;

    &__sandwich {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      border: 1px solid $main-first-color;
      transform: translate(-50%, -50%);

      &::before {
        top: 45%;
      }
      &::after {
        top: 55%;
      }
    }

    &__body {
      top: auto;
      right: 0;
      bottom: 200%;
      left: auto;
      width: calc(100% - 80px);
      height: 100%;
      background: $lightning-color;
      transition: $transition-base;

      &.active {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
      }

      &-head {
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding: 50px 77px;
      }

      &-content {
        //height: 100%;
        padding: 50px 77px;

        &-nav {
          height: 100%;

          &:not(:last-child) {
            padding-right: 15%;
          }

          &_sm {
            .menu-rails__body-content-nav-link {
              font-size: 2em;

              &:not(:last-child) {
                margin: 0 0 65px;
              }
            }
          }

          &-link {
            font-size: 2.778em;

            &:not(:last-child) {
              margin: 0 0 70px;
            }
          }
        }
      }
    }

    &__menu-lang {
      position: relative;
      display: block;
      padding: 0;
      margin: 0;

      &:hover {
        .menu-rails__menu-lang-dropdown {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }

      &-current {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        font-weight: 600;
        cursor: pointer;

        svg {
          margin-left: 7px;
          width: 20px;
          height: 20px;
        }
      }

      &-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;

        &-link {
          font-weight: 600;
        }
      }
    }

    &__callback {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 80px;
      border: none;
      border-radius: 100px 100px 0 0;
      background: $main-first-color;

      svg {
        width: 30px;
        height: 30px;
        fill: white;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .menu-rails {
    width: 105px;

    &__body {
      width: calc(100% - 105px);
      &-content {
        &-nav {
          &:not(:last-child) {
            padding-right: 24.5%;
          }
        }
      }
    }

    &__callback {
      height: 105px;
    }
  }
}