<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Страница не найдена</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                    </svg>
                </a>

                <div class="header-content__menu">
                    <nav class="header-content__menu-nav">
                        <a href="#development" class="header-content__menu-nav-link">Разработка</a>
                        <a href="#design" class="header-content__menu-nav-link">Дизайн</a>
                        <a href="#promotion" class="header-content__menu-nav-link">Продвижение</a>
                    </nav>

                    <div class="menu-rails">
                        <button class="menu-rails__sandwich"></button>

                        <div class="menu-rails__body">
                            <div class="menu-rails__body-head">
                                <a href="index.html" class="logo">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                                    </svg>
                                </a>

                                <ul class="menu-rails__menu-lang">
                                    <li>
                                        <span class="menu-rails__menu-lang-current">RU <svg><use xlink:href="./img/spritemap.svg#sprite-planet"></use></svg></span>

                                        <div class="menu-rails__menu-lang-dropdown">
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">UA</a>
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">EN</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="menu-rails__body-content">
                                <nav class="menu-rails__body-content-nav">
                                    <a href="services-dev.html" class="menu-rails__body-content-nav-link">Разработка</a>
                                    <a href="services-design.html" class="menu-rails__body-content-nav-link">Дизайн</a>
                                    <a href="services-smm.html" class="menu-rails__body-content-nav-link">Продвижение</a>
                                    <a href="service-page.html" class="menu-rails__body-content-nav-link">Мобильное приложение</a>
                                    <a href="service-page.html" class="menu-rails__body-content-nav-link">Домен и хостинг</a>
                                </nav>

                                <nav class="menu-rails__body-content-nav menu-rails__body-content-nav_sm">
                                    <a href="#briefing" class="menu-rails__body-content-nav-link">Бриф</a>
                                    <a href="about-us.html" class="menu-rails__body-content-nav-link">О нас</a>
                                    <a href="portfolio.html" class="menu-rails__body-content-nav-link">Портфолио</a>
                                    <a href="vacancies.html" class="menu-rails__body-content-nav-link">Вакансии</a>
                                    <a href="blog.html" class="menu-rails__body-content-nav-link">Блог</a>
                                    <a href="contacts.html" class="menu-rails__body-content-nav-link">Контакты</a>
                                </nav>
                            </div>
                        </div>

                        <button class="menu-rails__callback" data-toggle="modal" data-target="#modal_callback">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-error">
            <div class="container">
                <div class="error-block">
                    <picture class="error-block__pic">
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/404.svg') %>" alt="image" title="image">
                    </picture>

                    <p class="error-block__text">Страница не найдена</p>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/favicon.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
