<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                    </svg>
                </a>

                <div class="header-content__menu">
                    <nav class="header-content__menu-nav">
                        <a href="#development" class="header-content__menu-nav-link">Разработка</a>
                        <a href="#design" class="header-content__menu-nav-link">Дизайн</a>
                        <a href="#promotion" class="header-content__menu-nav-link">Продвижение</a>
                    </nav>

                    <div class="menu-rails">
                        <button class="menu-rails__sandwich"></button>

                        <div class="menu-rails__body">
                            <div class="menu-rails__body-head">
                                <a href="index.html" class="logo">
                                    <svg><use xlink:href="img/spritemap.svg#sprite-logo"></use></svg>
                                </a>

                                <ul class="menu-rails__menu-lang">
                                    <li>
                                        <span class="menu-rails__menu-lang-current">RU <svg><use xlink:href="./img/spritemap.svg#sprite-planet"></use></svg></span>

                                        <div class="menu-rails__menu-lang-dropdown">
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">UA</a>
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">EN</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="menu-rails__body-content">
                                <nav class="menu-rails__body-content-nav">
                                    <a href="#link01" class="menu-rails__body-content-nav-link">Разработка</a>
                                    <a href="#link02" class="menu-rails__body-content-nav-link">Дизайн</a>
                                    <a href="#link03" class="menu-rails__body-content-nav-link">Продвижение</a>
                                    <a href="#link04" class="menu-rails__body-content-nav-link">Мобильное приложение</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Домен и хостинг</a>
                                </nav>

                                <nav class="menu-rails__body-content-nav menu-rails__body-content-nav_sm">
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Бриф</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">О нас</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Портфолио</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Вакансии</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Блог</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Контакты</a>
                                </nav>
                            </div>
                        </div>

                        <button class="menu-rails__callback">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-main-home">
            <div class="main-home container">
                <div class="row">
                    <div class="col-xl-7">
                        <h1 class="main-home__title">Веб<svg><use xlink:href="./img/spritemap.svg#sprite-star"></use></svg>студия</h1>
                        <p class="main-home__text"><span>разработка</span><span>дизайн</span><span>продвижение</span></p>

                        <button class="button-action">
                            <span class="button-action__text">Связаться</span>
                            <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-r"></use></svg></span>
                        </button>
                    </div>

                    <div class="col-xl-4 offset-xl-1">
                        <picture class="main-home__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/abstract01.svg') %>" alt="image" title="image">
                        </picture>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-list-block">
            <div class="list-block container">
                <div class="row">
                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 63.2939C49.1208 63.2939 63 49.4148 63 32.2939C63 15.1731 49.1208 1.29395 32 1.29395C14.8792 1.29395 1 15.1731 1 32.2939C1 49.4148 14.8792 63.2939 32 63.2939ZM32 64.2939C49.6731 64.2939 64 49.9671 64 32.2939C64 14.6208 49.6731 0.293945 32 0.293945C14.3269 0.293945 0 14.6208 0 32.2939C0 49.9671 14.3269 64.2939 32 64.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.02232 14.2939C8.56823 26.498 19.058 36.2939 32 36.2939C44.942 36.2939 55.4318 26.498 55.9777 14.2939L8.02232 14.2939ZM7.02131 14.2939C7.56741 27.085 18.5418 37.2939 32 37.2939C45.4582 37.2939 56.4326 27.085 56.9787 14.2939C56.9928 13.9623 57 13.6289 57 13.2939L7 13.2939C7 13.6289 7.00715 13.9623 7.02131 14.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.01959 24.2939C3.58406 38.6835 16.2802 50.2939 32 50.2939C47.7198 50.2939 60.4159 38.6835 60.9804 24.2939L3.01959 24.2939ZM2.01878 24.2939C2.58295 39.2948 15.7901 51.2939 32 51.2939C48.2099 51.2939 61.417 39.2948 61.9812 24.2939C61.9937 23.962 62 23.6287 62 23.2939L2 23.2939C2 23.6287 2.0063 23.962 2.01878 24.2939Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Веб дизайн</span>
                            <span class="list-block__box-text">Наши комплексные услуги по веб-дизайну воплотят ваши идеи в жизнь и предоставят вам элегантный, высокопроизводительный продукт, который поднимет ваш бизнес на новый уровень</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32.2939C63 49.4148 49.1208 63.2939 32 63.2939C14.8792 63.2939 1 49.4148 1 32.2939C1 15.1731 14.8792 1.29394 32 1.29394C49.1208 1.29394 63 15.1731 63 32.2939ZM64 32.2939C64 49.9671 49.6731 64.2939 32 64.2939C14.3269 64.2939 2.17128e-06 49.9671 1.39876e-06 32.2939C6.26248e-07 14.6208 14.3269 0.293945 32 0.293944C49.6731 0.293943 64 14.6208 64 32.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.02331 49.2939C7.59165 37.1224 18.4843 27.2939 32 27.2939C45.5157 27.2939 56.4084 37.1224 56.9767 49.2939L7.02331 49.2939ZM6.02216 49.2939C6.59011 36.5029 18.0035 26.2939 32 26.2939C45.9965 26.2939 57.4099 36.5029 57.9778 49.2939C57.9926 49.6256 58 49.959 58 50.2939L6 50.2939C6 49.959 6.00744 49.6256 6.02216 49.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.02331 15.2939C7.59165 27.4655 18.4843 37.2939 32 37.2939C45.5157 37.2939 56.4084 27.4655 56.9767 15.2939L7.02331 15.2939ZM6.02216 15.2939C6.59011 28.085 18.0035 38.2939 32 38.2939C45.9965 38.2939 57.4099 28.085 57.9778 15.2939C57.9926 14.9623 58 14.6289 58 14.2939L6 14.2939C6 14.6289 6.00744 14.9623 6.02216 15.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M49 7.29395L15 7.29395L15 57.2939L49 57.2939L49 7.29395ZM14 6.29395L14 58.2939L50 58.2939L50 6.29395L14 6.29395Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Веб разработка</span>
                            <span class="list-block__box-text">Мы используем передовые технологии веб-разработки, чтобы помочь нашим клиентам достичь своих бизнес-целей с помощью функциональных и надежных решений</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 48.2939C40.8366 48.2939 48 41.1305 48 32.2939C48 23.4574 40.8366 16.2939 32 16.2939C23.1634 16.2939 16 23.4574 16 32.2939C16 41.1305 23.1634 48.2939 32 48.2939ZM32 49.2939C41.3888 49.2939 49 41.6828 49 32.2939C49 22.9051 41.3888 15.2939 32 15.2939C22.6112 15.2939 15 22.9051 15 32.2939C15 41.6828 22.6112 49.2939 32 49.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32.2939C63 49.4148 49.1208 63.2939 32 63.2939C14.8792 63.2939 1 49.4148 1 32.2939C1 15.1731 14.8792 1.29394 32 1.29394C49.1208 1.29394 63 15.1731 63 32.2939ZM64 32.2939C64 49.9671 49.6731 64.2939 32 64.2939C14.3269 64.2939 2.17128e-06 49.9671 1.39876e-06 32.2939C6.26248e-07 14.6208 14.3269 0.293945 32 0.293944C49.6731 0.293943 64 14.6208 64 32.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0246 53.2939C10.5709 42.1976 20.161 33.2939 32 33.2939C43.839 33.2939 53.4291 42.1976 53.9754 53.294L10.0246 53.2939ZM9.02334 53.2939C9.5699 41.6078 19.6478 32.2939 32 32.2939C44.3522 32.2939 54.4301 41.6078 54.9767 53.294C54.9922 53.6254 55 53.9588 55 54.294L9 54.2939C9 53.9588 9.00784 53.6254 9.02334 53.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0246 11.2939C10.5709 22.3903 20.161 31.2939 32 31.2939C43.839 31.2939 53.4291 22.3903 53.9754 11.2939L10.0246 11.2939ZM9.02334 11.2939C9.5699 22.9801 19.6478 32.2939 32 32.2939C44.3522 32.2939 54.4301 22.9801 54.9767 11.2939C54.9922 10.9625 55 10.6291 55 10.2939L9 10.2939C9 10.6291 9.00784 10.9625 9.02334 11.2939Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Разработка приложений</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32.2939C63 49.4148 49.1208 63.2939 32 63.2939C14.8792 63.2939 1 49.4148 1 32.2939C1 15.1731 14.8792 1.29394 32 1.29394C49.1208 1.29394 63 15.1731 63 32.2939ZM64 32.2939C64 49.9671 49.6731 64.2939 32 64.2939C14.3269 64.2939 2.17128e-06 49.9671 1.39876e-06 32.2939C6.26248e-07 14.6208 14.3269 0.293945 32 0.293944C49.6731 0.293943 64 14.6208 64 32.2939Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M48 47.2939V17.2939C48 8.45739 40.8366 1.29395 32 1.29395C23.1634 1.29395 16 8.45739 16 17.2939V47.2939C16 56.1305 23.1634 63.2939 32 63.2939C40.8366 63.2939 48 56.1305 48 47.2939ZM32 0.293945C22.6112 0.293945 15 7.9051 15 17.2939V47.2939C15 56.6828 22.6112 64.2939 32 64.2939C41.3888 64.2939 49 56.6828 49 47.2939V17.2939C49 7.9051 41.3888 0.293945 32 0.293945Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M40 24.2939H24V40.2939H40V24.2939ZM23 23.2939V41.2939H41V23.2939H23Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 48.2939L47 48.2939C55.8366 48.2939 63 41.1305 63 32.2939C63 23.4574 55.8366 16.2939 47 16.2939L17 16.2939C8.16344 16.2939 1 23.4574 0.999999 32.2939C0.999999 41.1305 8.16344 48.2939 17 48.2939ZM64 32.2939C64 22.9051 56.3888 15.2939 47 15.2939L17 15.2939C7.61116 15.2939 -3.32697e-07 22.9051 -7.43099e-07 32.2939C-1.1535e-06 41.6828 7.61116 49.2939 17 49.2939L47 49.2939C56.3888 49.2939 64 41.6828 64 32.2939Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Продвижение сайтов</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32C63 49.1208 49.1208 63 32 63C14.8792 63 1 49.1208 1 32C1 14.8792 14.8792 0.999999 32 0.999999C49.1208 0.999998 63 14.8792 63 32ZM64 32C64 49.6731 49.6731 64 32 64C14.3269 64 2.17128e-06 49.6731 1.39876e-06 32C6.26248e-07 14.3269 14.3269 -6.26248e-07 32 -1.39876e-06C49.6731 -2.17128e-06 64 14.3269 64 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M44 51C54.4934 51 63 42.4934 63 32C63 21.5066 54.4934 13 44 13C33.5066 13 25 21.5066 25 32C25 42.4934 33.5066 51 44 51ZM44 52C55.0457 52 64 43.0457 64 32C64 20.9543 55.0457 12 44 12C32.9543 12 24 20.9543 24 32C24 43.0457 32.9543 52 44 52Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 45.9589C6.34121 45.4103 0.999999 39.4296 0.999999 32C1 24.5704 6.34121 18.5897 13 18.0411L13 45.9589ZM13 46.9623C5.73472 46.413 -1.00203e-06 39.924 -6.55667e-07 32C-3.09299e-07 24.076 5.73472 17.587 13 17.0377C13.3303 17.0127 13.6638 17 14 17L14 47C13.6638 47 13.3303 46.9873 13 46.9623Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M36 55.9777C23.796 55.4318 14 44.942 14 32C14 19.058 23.796 8.56824 36 8.02233L36 55.9777ZM36 56.9787C23.2089 56.4326 13 45.4582 13 32C13 18.5418 23.2089 7.56741 36 7.02131C36.3316 7.00715 36.665 7 37 7L37 57C36.665 57 36.3316 56.9929 36 56.9787Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Создание лендинга</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32C63 49.1208 49.1208 63 32 63C14.8792 63 1 49.1208 1 32C1 14.8792 14.8792 0.999999 32 0.999999C49.1208 0.999998 63 14.8792 63 32ZM64 32C64 49.6731 49.6731 64 32 64C14.3269 64 2.17128e-06 49.6731 1.39876e-06 32C6.26248e-07 14.3269 14.3269 -6.26248e-07 32 -1.39876e-06C49.6731 -2.17128e-06 64 14.3269 64 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M53.1127 11L11.1127 11L11.1127 53H53.1127V11ZM10.1127 10L10.1127 54H54.1127V10L10.1127 10Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M60.9804 22C60.4159 36.3896 47.7198 48 32 48C16.2802 48 3.58406 36.3896 3.01959 22L60.9804 22ZM61.9812 22C61.417 37.0008 48.2099 49 32 49C15.7901 49 2.58295 37.0008 2.01878 22C2.0063 21.6681 2 21.3347 2 21L62 21C62 21.3347 61.9937 21.6681 61.9812 22Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Домен и хостинг</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32C63 49.1208 49.1208 63 32 63C14.8792 63 1 49.1208 1 32C1 14.8792 14.8792 0.999999 32 0.999999C49.1208 0.999998 63 14.8792 63 32ZM64 32C64 49.6731 49.6731 64 32 64C14.3269 64 2.17128e-06 49.6731 1.39876e-06 32C6.26248e-07 14.3269 14.3269 -6.26248e-07 32 -1.39876e-06C49.6731 -2.17128e-06 64 14.3269 64 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32.0004 2.30187L2.30156 32L32.0004 61.6981L61.6992 32L32.0004 2.30187ZM0.887329 32L32.0004 63.1123L63.1135 32L32.0004 0.887669L0.887329 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 49.5858L49.5858 32L32 14.4142L14.4143 32L32 49.5858ZM51 32L32 13L13.0001 32L32 51L51 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9999 37.5858L37.5858 32L31.9999 26.4142L26.4141 32L31.9999 37.5858ZM39 32L31.9999 25L24.9999 32L31.9999 39L39 32Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Поддержка и обслуживание</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>

                    <div class="col-xl-3 mb-5">
                        <a href="#" class="list-block__box">
                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M63 32C63 49.1208 49.1208 63 32 63C14.8792 63 1 49.1208 1 32C1 14.8792 14.8792 0.999999 32 0.999999C49.1208 0.999998 63 14.8792 63 32ZM64 32C64 49.6731 49.6731 64 32 64C14.3269 64 2.17128e-06 49.6731 1.39876e-06 32C6.26248e-07 14.3269 14.3269 -6.26248e-07 32 -1.39876e-06C49.6731 -2.17128e-06 64 14.3269 64 32Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 63C42.4934 63 51 54.4934 51 44C51 33.5066 42.4934 25 32 25C21.5066 25 13 33.5066 13 44C13 54.4934 21.5066 63 32 63ZM32 64C43.0457 64 52 55.0457 52 44C52 32.9543 43.0457 24 32 24C20.9543 24 12 32.9543 12 44C12 55.0457 20.9543 64 32 64Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 51C30.4934 51 39 42.4934 39 32C39 21.5066 30.4934 13 20 13C9.50659 13 1 21.5066 1 32C1 42.4934 9.50659 51 20 51ZM20 52C31.0457 52 40 43.0457 40 32C40 20.9543 31.0457 12 20 12C8.9543 12 0 20.9543 0 32C0 43.0457 8.9543 52 20 52Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M44 51C54.4934 51 63 42.4934 63 32C63 21.5066 54.4934 13 44 13C33.5066 13 25 21.5066 25 32C25 42.4934 33.5066 51 44 51ZM44 52C55.0457 52 64 43.0457 64 32C64 20.9543 55.0457 12 44 12C32.9543 12 24 20.9543 24 32C24 43.0457 32.9543 52 44 52Z" fill="#1B1B1B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 39C42.4934 39 51 30.4934 51 20C51 9.50659 42.4934 1 32 1C21.5066 1 13 9.50659 13 20C13 30.4934 21.5066 39 32 39ZM32 40C43.0457 40 52 31.0457 52 20C52 8.9543 43.0457 0 32 0C20.9543 0 12 8.9543 12 20C12 31.0457 20.9543 40 32 40Z" fill="#1B1B1B"/>
                            </svg>

                            <span class="list-block__box-title title-name">Продвижение в соц сетях</span>
                            <span class="list-block__box-text">Наш опыт разработки мобильных приложений позволяет нам создавать нативные и кроссплатформенные мобильные решения для iOS и Android для наших клиентов</span>
                            <svg class="list-block__box-arrow"><use xlink:href="./img/spritemap.svg#sprite-arrow-r"></use></svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="section">
            <div class="container">
                <h2>Section Slider</h2>
                <div class="main-slider swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!--<div class="swiper-scrollbar"></div>-->
                </div>

                <form action="">
                    <label>
                        <input type="checkbox" hidden>
                        <span class="checkbox">
                            <span class="checkbox__style">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </span>
                            <span class="checkbox__text">Lorem ipsum dolor</span>
                        </span>
                    </label>

                    <label>
                        <input type="radio" hidden>
                        <span class="radiobox">
                            <span class="radiobox__style">
                                <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                            </span>
                            <span class="radiobox__text">Lorem ipsum dolor sit amet</span>
                        </span>
                    </label>

                    <label>
                        <input type="text" class="form-control">
                    </label>

                    <label>
                        <span class="select-wrap">
                            <select class="select2">
                                <option value="01">option 01</option>
                                <option value="02">option 02</option>
                                <option value="03">option 03</option>
                                <option value="04">option 04</option>
                                <option value="05">option 05</option>
                            </select>
                        </span>
                    </label>

                    <label>
                        <textarea class="form-control"></textarea>
                    </label>
                </form>

                <div><p>p: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias et fugiat fugit quaerat quisquam reiciendis rem ullam voluptatem! Aliquid
                    asperiores aspernatur beatae consequatur, consequuntur cumque dignissimos dolore earum eligendi enim eum ex exercitationem expedita explicabo facere
                    fugiat iste iure iusto laudantium magni, maiores maxime nesciunt nostrum odio omnis placeat possimus quaerat qui quia ratione reiciendis rem
                    repellendus soluta tempora tempore tenetur vitae. Aut cupiditate debitis doloribus dolorum, eius mollitia, nobis odit possimus, provident quisquam
                    ratione recusandae reiciendis repudiandae sit tempora? Adipisci blanditiis consequatur eligendi esse eveniet, expedita facere, illum impedit
                    laudantium minima officiis optio pariatur praesentium quo vel.</p></div>

                <div><p class="title">Title</p></div>

                <div><span class="title-name">Title-name</span></div>

                <div><h1>h1 Lorem ipsum dolor.</h1></div>

                <div><h2>h2 Lorem ipsum dolor sit.</h2></div>

                <div><h3>h3 Lorem ipsum dolor sit.</h3></div>

                <div><h4>h4 Lorem ipsum dolor sit.</h4></div>

                <button class="button-action button-action_sm">
                    <span class="button-action__text">Связаться</span>
                    <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use></svg></span>
                </button>

                <button class="button-action button-action_sm button-action_outline-light">
                    <span class="button-action__text">Связаться</span>
                    <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use></svg></span>
                </button>

                <button class="button-action">
                    <span class="button-action__text">Связаться</span>
                    <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-r"></use></svg></span>
                </button>

                <button class="button-action button-action_lg">
                    <span class="button-action__text">Связаться</span>
                    <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-r"></use></svg></span>
                </button>

            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer bg-dark">
        <div class="container">
            <h3 class="m-0">Footer Title</h3>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/favicon.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
