<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Услуга дизайн</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.html" class="logo">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                    </svg>
                </a>

                <div class="header-content__menu">
                    <nav class="header-content__menu-nav">
                        <a href="#development" class="header-content__menu-nav-link">Разработка</a>
                        <a href="#design" class="header-content__menu-nav-link">Дизайн</a>
                        <a href="#promotion" class="header-content__menu-nav-link">Продвижение</a>
                    </nav>

                    <div class="menu-rails">
                        <button class="menu-rails__sandwich"></button>

                        <div class="menu-rails__body">
                            <div class="menu-rails__body-head">
                                <a href="index.html" class="logo">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-logo"></use>
                                    </svg>
                                </a>

                                <ul class="menu-rails__menu-lang">
                                    <li>
                                        <span class="menu-rails__menu-lang-current">RU <svg><use xlink:href="./img/spritemap.svg#sprite-planet"></use></svg></span>

                                        <div class="menu-rails__menu-lang-dropdown">
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">UA</a>
                                            <a href="#" class="menu-rails__menu-lang-dropdown-link">EN</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="menu-rails__body-content">
                                <nav class="menu-rails__body-content-nav">
                                    <a href="services-dev.html" class="menu-rails__body-content-nav-link">Разработка</a>
                                    <a href="services-design.html" class="menu-rails__body-content-nav-link">Дизайн</a>
                                    <a href="services-smm.html" class="menu-rails__body-content-nav-link">Продвижение</a>
                                    <a href="#link04" class="menu-rails__body-content-nav-link">Мобильное приложение</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Домен и хостинг</a>
                                </nav>

                                <nav class="menu-rails__body-content-nav menu-rails__body-content-nav_sm">
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Бриф</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">О нас</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Портфолио</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Вакансии</a>
                                    <a href="#link05" class="menu-rails__body-content-nav-link">Блог</a>
                                    <a href="contacts.html" class="menu-rails__body-content-nav-link">Контакты</a>
                                </nav>
                            </div>
                        </div>

                        <button class="menu-rails__callback" data-toggle="modal" data-target="#modal_callback">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-mail"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-home">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-xxl-5">
                        <p class="section-home__title">Заказать дизайн сайта</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 mb-4 mb-xl-0">
                        <button class="button-action button-action_sm" data-toggle="modal" data-target="#modal_callback">
                            <span class="button-action__text">Заказать услугу</span>
                            <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use></svg></span>
                        </button>
                    </div>

                    <div class="col-xl-6">
                        <p class="section-home__text">Основная цель любого бизнеса - увеличить объем продаж и увеличить рост бизнеса. UX / UI-дизайн играет важную роль в достижении этой цели: улучшает пользовательский опыт и удовлетворенность клиентов, что в конечном итоге помогает увеличить количество пользователей конкретного приложения</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-stages">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="title">Этапы разработки дизайна</p>
                    </div>
                </div>

                <div class="stages">
                    <div class="stages__line row">
                        <div class="stages__left col-xl-5 col-lg-6">
                            <span class="stages__number">01</span>
                            <p class="stages__title">Всесторонний анализ</p>
                        </div>

                        <div class="stages__right col-xl-5 col-lg-6 text-content">
                            <p class="stages__text">Прежде чем приступить к работе, мы тщательно анализируем и изучаем продукт, конкурентов, целевую аудиторию и задачи бизнеса.</p>
                        </div>
                    </div>

                    <div class="stages__line row">
                        <div class="stages__left col-xl-5 col-lg-6">
                            <span class="stages__number">02</span>
                            <p class="stages__title">UX дизайн</p>
                        </div>

                        <div class="stages__right col-xl-5 col-lg-6 text-content">
                            <p class="stages__text">Создаем подробный прототип, продумывая каждую деталь на пути взаимодействия пользователя с продуктом. Это сделает пользовательский опыт ваших клиентов постоянными</p>

                            <ul>
                                <li>структуру контента и карты сайта (организацию структуры веб-сайта, количество страниц и функций, которые они будут выполнять),</li>
                                <li>планирование макета,</li>
                                <li>детали дизайна пользовательского интерфейса</li>
                            </ul>
                        </div>
                    </div>

                    <div class="stages__line row">
                        <div class="stages__left col-xl-5 col-lg-6">
                            <span class="stages__number">03</span>
                            <p class="stages__title">Разработка UI</p>
                        </div>

                        <div class="stages__right col-xl-5 col-lg-6 text-content">
                            <p class="stages__text">Рисуем внешний вид сайта с учетом всех ваших предпочтений и фирменного стиля. В результате вы получаете привлекательный дизайн продукта, который запомнится и выделит вас среди других</p>
                        </div>
                    </div>

                    <div class="stages__line row">
                        <div class="stages__left col-xl-5 col-lg-6">
                            <span class="stages__number">04</span>
                            <p class="stages__title">Запуск и поддержка</p>
                        </div>

                        <div class="stages__right col-xl-5 col-lg-6 text-content">
                            <p class="stages__text">Мы можем воплотить ваш дизайн в жизнь, либо доверить разработку вашей команде специалистов и ответить на все их вопросы</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-portfolio-preview dark">
            <div class="portfolio container">
                <div class="portfolio__head row">
                    <div class="col-xl-8">
                        <p class="portfolio__title title">Несколько наших проектов</p>
                    </div>

                    <div class="col-xl-4 text-xl-right">
                        <button class="button-action button-action_sm" hidden>
                            <span class="button-action__text">Связаться</span>
                            <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use></svg></span>
                        </button>
                    </div>
                </div>

                <div class="portfolio__body row">
                    <div class="col-xl-6 col-md-6 mt-xl-n5">
                        <a href="#" class="portfolio-box mt-xl-n4">
                            <picture class="portfolio-box__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="https://loremflickr.com/640/480/girl" alt="image" title="image">
                            </picture>
                            <span class="portfolio-box__category-name">Дизайн</span>
                            <span class="portfolio-box__name title-name text-white">Название проекта</span>
                        </a>
                    </div>

                    <div class="col-xl-6 col-md-6">
                        <a href="#" class="portfolio-box">
                            <picture class="portfolio-box__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="https://loremflickr.com/640/480/girl/all" alt="image" title="image">
                            </picture>
                            <span class="portfolio-box__category-name">Разработка</span>
                            <span class="portfolio-box__name title-name text-white">Название проекта</span>
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <a href="#" class="portfolio-box">
                            <picture class="portfolio-box__pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="https://loremflickr.com/640/480/paris/all" alt="image" title="image">
                            </picture>
                            <span class="portfolio-box__category-name">Дизайн</span>
                            <span class="portfolio-box__name title-name text-white">Название проекта</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-faq">
            <div class="container">
                <p class="title">Часто задаваемые вопросы</p>

                <div class="faq">
                    <div class="faq__box active">
                        <div class="faq__box-header">
                            <p class="title-name">Почему не стоит играться со шрифтами?</p>
                            <span class="faq__box-header-trigger">
                                <svg><use xlink:href="./img/spritemap.svg#sprite-chevrone"></use></svg>
                            </span>
                        </div>
                        <div class="faq__box-body">
                            <p class="faq__box-content">Работая в сфере веб-дизайна, полиграфии и вообще любой другой оформительской практике, частенько приходится
                                сталкиваться с таким понятием, как «игра со шрифтами». При том, как ни странно, это затрагивает не только дизайнера, но и заказчика, ведь
                                именно заказчик принимает конечное решение об утверждении графической концепции, которую ему предоставляет дизайнер</p>
                        </div>
                    </div>

                    <div class="faq__box">
                        <div class="faq__box-header">
                            <p class="title-name">Что делать, если мне угрожает дизайнер?</p>
                            <span class="faq__box-header-trigger">
                                <svg><use xlink:href="./img/spritemap.svg#sprite-chevrone"></use></svg>
                            </span>
                        </div>
                        <div class="faq__box-body">
                            <p class="faq__box-content">Работая в сфере веб-дизайна, полиграфии и вообще любой другой оформительской практике, частенько приходится
                                сталкиваться с таким понятием, как «игра со шрифтами». При том, как ни странно, это затрагивает не только дизайнера, но и заказчика, ведь
                                именно заказчик принимает конечное решение об утверждении графической концепции, которую ему предоставляет дизайнер</p>
                        </div>
                    </div>

                    <div class="faq__box">
                        <div class="faq__box-header">
                            <p class="title-name">4000 долларов за лендинг это норма?</p>
                            <span class="faq__box-header-trigger">
                                <svg><use xlink:href="./img/spritemap.svg#sprite-chevrone"></use></svg>
                            </span>
                        </div>
                        <div class="faq__box-body">
                            <p class="faq__box-content">Работая в сфере веб-дизайна, полиграфии и вообще любой другой оформительской практике, частенько приходится
                                сталкиваться с таким понятием, как «игра со шрифтами». При том, как ни странно, это затрагивает не только дизайнера, но и заказчика, ведь
                                именно заказчик принимает конечное решение об утверждении графической концепции, которую ему предоставляет дизайнер</p>
                        </div>
                    </div>

                    <div class="faq__box">
                        <div class="faq__box-header">
                            <p class="title-name">Вы скидываете готовый сайт на флешку?</p>
                            <span class="faq__box-header-trigger">
                                <svg><use xlink:href="./img/spritemap.svg#sprite-chevrone"></use></svg>
                            </span>
                        </div>
                        <div class="faq__box-body">
                            <p class="faq__box-content">Работая в сфере веб-дизайна, полиграфии и вообще любой другой оформительской практике, частенько приходится
                                сталкиваться с таким понятием, как «игра со шрифтами». При том, как ни странно, это затрагивает не только дизайнера, но и заказчика, ведь
                                именно заказчик принимает конечное решение об утверждении графической концепции, которую ему предоставляет дизайнер</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-seo-text">
            <div class="container">
                <div class="text-content">
                    <h2 class="title">Создание сайтов от компании Art Time Web</h2>

                    <p>На сегодняшний день, развитие интернета и сетевых технологий, достигло такого уровня, что они легко заменили обычные СМИ. В интернете сейчас можно
                        все: покупать, продавать, информировать, рекомендовать, смотреть, слушать и многое-многое другое. Поэтому очень важно иметь сайт. Благодаря
                        созданию своего, собственного сайта, можно заработать большие деньги. Можно создать свой личный бренд и продавать товары или услуги, ведь в наше
                        время, для подобного рода бизнеса созданы все условия.</p>

                    <h4 class="title-name">Создайте сайт с нуля</h4>

                    <p>Cоздание сайта с нуля, проводится для достижения, поставленных вашим бизнесом, задач, привлечения клиентов и финансовой стабильности. Но некоторый
                        процент людей хочет получить все, не отдав ничего взамен. Речь идет о создании сайта бесплатно. Разумеется, что ни один специалист, не будет
                        бесплатно создавать крутой сайт. Ведь это подразумевает потраченное время, силы и прочие другие ресурсы. В то же время, клиент, в принципе, сможет
                        разобраться, как создать сайт самому, и пример тому — создание сайта wix. Но, как его раскрутить и продвинуть, попав в Топ поисковых систем, не
                        имея должных знаний и опыта? Возможно это вас огорчит, но без профильных знаний и успешного опыта, у вас ничего с этим не выйдет. В лучшем случае,
                        у Вас будет шаблонный сайт на одну-две страницы, ссылку которого вы сможете, разве что конкретному человеку отправить, потому что Вас он точно не
                        найдет через поисковые системы.
                    </p>

                    <ul>
                        <li>Вообще, есть много различных способов для создания сайтов. Парочка их них, это создание сайта на Joomla, *</li>
                        <li>WordPress. Есть даже подробная Google инструкция по этому поводу.</li>
                        <li>Но какой же способ лучше применить?</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer dark">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6">
                    <p class="title-section d-none d-md-block">Обсудить проект</p>
                    <p class="title">
                        <a href="mailto:info@arttimeweb.com" class="footer-contact">info@arttimeweb.com</a>
                    </p>
                </div>

                <div class="col-xl-5 col-md-6">
                    <picture class="footer-decor d-none d-md-block mt-xl-n5">
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/footer-decor.svg') %>" alt="image" title="image">
                    </picture>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 d-flex flex-row flex-wrap justify-content-between">
                    <div class="footer-contacts">
                        <p class="title-name text-secondary font-weight-normal">Адрес и контакты</p>
                        <p class="title-name">г. Херсон, проспект Ушакова, 41</p>
                        <p class="title-name m-0"><a href="tel:+380664192452">+380 664 192 452</a></p>
                    </div>

                    <ul class="social-list">
                        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://web.telegram.org/" target="_blank">Telegram</a></li>
                        <li><a href="https://www.viber.com/ru/" target="_blank">Viber</a></li>
                    </ul>
                </div>

                <div class="col-xl-3 offset-xl-1 col-sm-6 mb-4 mb-sm-0">
                    <ul class="footer-nav">
                        <li><a href="#footer-link01">Веб дизайн</a></li>
                        <li><a href="#footer-link02">Веб разработка</a></li>
                        <li><a href="#footer-link03">Разработка приложений</a></li>
                        <li><a href="#footer-link04">Продвижение сайтов</a></li>
                    </ul>
                </div>

                <div class="col-xl-3 offset-xl-1 col-sm-6">
                    <ul class="footer-nav">
                        <li><a href="#footer-link01">Создание лендинга</a></li>
                        <li><a href="#footer-link02">Домен и хостинг</a></li>
                        <li><a href="#footer-link03">Поддержка и обслуживание</a></li>
                        <li><a href="#footer-link04">Продвижение в соц сетях</a></li>
                    </ul>
                </div>
            </div>

            <p class="copyright">© 2021 Art time web</p>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<!-- Модальное окно обратной связи -->
<div class="modal fade" id="modal_callback" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modal_callback_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_callback_title">Форма связи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg>
                        <use xlink:href="./img/spritemap.svg#sprite-star"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="callback-form">
                    <div class="row">
                        <div class="col-12">
                            <label class="d-block form-group">
                                <input type="text" placeholder="Ваше имя" class="form-control">
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="d-block form-group">
                                <input type="text" placeholder="Название компании" class="form-control">
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="d-block form-group">
                                <input type="tel" placeholder="Ваш телефон" class="form-control mask-phone">
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="d-block form-group select-wrap">
                                <select class="select2 js-example-placeholder-single" style="width: 100%">
                                    <option>Тема</option>
                                    <option value="01">option 01</option>
                                    <option value="02">option 02</option>
                                    <option value="03">option 03</option>
                                    <option value="04">option 04</option>
                                    <option value="05">option 05</option>
                                </select>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="d-block form-group">
                                <input type="checkbox" checked hidden>
                                <span class="checkbox">
                                    <span class="checkbox__style">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-star"></use></svg>
                                    </span>
                                    <span class="checkbox__text">Я даю согласие на обработку информации</span>
                                </span>
                            </label>
                        </div>
                    </div>

                    <button class="button-action button-action_sm btn-block">
                        <span class="button-action__text">Отправить</span>
                        <span class="button-action__ico"><svg><use xlink:href="img/spritemap.svg#sprite-arrow-btn"></use></svg></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/favicon.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
